.select-doctor {
  display: block;

  & > select {
    min-width: 150px;
  }
}

.stream-inprogress {
  position: relative;
  background-color: var(--base-color) !important;
  color: #fff;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)),
  linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4));
  background-repeat: no-repeat;
  background-size: 10px 10px, 10px 10px;
  animation: twostreams 2s infinite ease;

  &::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(230, 40, 20, 0.8);
    color: #fff;
    font-weight: 700;
    opacity: 0;
    transition: opacity var(--base-transition-timing);
  }

  &::after {
    content: attr(data-stop-label);
    display: block;
    line-height: 0;
    text-align: center;
    position:absolute;
    left:50%;
    top:50%;
    opacity:0;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &::before, &::after {
      opacity: 1;
    }
  }
}

@keyframes twostreams {
  0% { background-position: -10px 50%, -10px 50% }
  15% { background-position: 0 50%, 0 50% }
  35% { background-position: 0 0, 0 100% }
  65% { background-position: 100% 0, 100% 100% }
  85% { background-position: 100% 50%, 100% 50% }
  100% { background-position: calc(100% + 10px) 50%,  calc(100% + 10px) 50% }
}

.examination-chart-wrapper{
  width: 100%;
  height: 300px;
}

.examinations > h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding: 0 0.5rem;
}