:root {
  --gutter: 20px;
  --base-color: #333;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--base-color)
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  max-width: 960px;
}

a[href] {
  text-decoration: none;
  color: #30a6da;
  transition: color .3s ease;
}

a[href]:hover {
  color: #1b76b8;
}

.page {
  margin: 0 var(--gutter);
  min-height: 100vh;
  display: grid;
  grid-template: "head" minmax(auto, max-content) "main" 1fr "foot" minmax(auto, max-content) / 100%
}

header {
  grid-area: head;
  margin: var(--gutter) 0;
}

main {
  grid-area: main;
  margin: var(--gutter) 0;
}

footer {
  grid-area: foot;
  margin: var(--gutter) 0;
  text-align: center;
}

.page__title {
  font-size: 2.2rem;
  text-align: center;
}

.user-navigation {
  width: 100%;
}

.user-navigation > ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation > ul > li {
  margin-left: 20px;
}

.message {
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  margin: calc(var(--gutter) / 2) auto;
  background-color: #5477ff;
}

.message--error {
  background-color: #ff475d;
}

.message--info {
  background-color: #5477ff;
}

.message--success {
  background-color: #5dff8a;
}

.page--login .message {
  width: 320px;
  max-width: 100%;
}

.login-form {
  display: flex;
  flex-flow: column;
}

.login-form > input {
  width: 320px;
  max-width: 100%;
  margin: calc(var(--gutter) / 2) auto;
}

input[type="text"],
input[type="password"] {
  border: 4px solid var(--base-color);
  padding: 10px;
  transition: border-color .3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #777;
  outline: none;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: var(--base-color);
  color: #fff;
  transition: background-color .3s ease;
  font-weight: 700;
}

input[type="submit"]:hover {
  background: #777;
  cursor: pointer;
}
