.select-patient {
  display: block;

  & > select {
    min-width: 150px;
  }
}

.examination-chart-wrapper {
  width: 100%;
  height: 300px;
}

.examinations > h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding: 0 0.5rem;
}