:root {
  --gutter: 1.25rem;
  --base-color: #333;
  --base-focus-color: #777;
  --base-active-color: #000;
  --base-transition-timing: .3s;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--base-color)
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  max-width: 960px;
}

a[href] {
  text-decoration: none;
  color: #30a6da;
  transition: color .3s ease;

  &:hover {
    color: #1b76b8;
  }
}

input, select, textarea {
  font-size: 1rem;
}

::placeholder {
  color: var(--base-focus-color);
}

.page {
  margin: 0 var(--gutter);
  min-height: 100vh;
  display: grid;
  grid-template: "head" minmax(auto, max-content) "main" 1fr "foot" minmax(auto, max-content) / 100%
}

header {
  grid-area: head;
  margin: var(--gutter) 0;
}

main {
  grid-area: main;
  margin: var(--gutter) 0;
}

footer {
  grid-area: foot;
  margin: var(--gutter) 0;
  text-align: center;
}

.page__title {
  font-size: 2.2rem;
  text-align: center;
}

.user-navigation {
  width: 100%;

  & > ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-left: 20px;
    }
  }
}

.message {
  padding: 1rem;
  color: #fff;
  border-radius: 2px;
  margin: calc(var(--gutter) / 2) auto;
  background-color: #5477ff;
}

.message--error {
  background-color: #ff475d;
}

.message--info {
  background-color: #5477ff;
}

.message--success {
  background-color: #5dff8a;
}

.page--login .message {
  width: 320px;
  max-width: 100%;
}

.login-form {
  display: flex;
  flex-flow: column;

  & > input {
    width: 320px;
    max-width: 100%;
    margin: calc(var(--gutter) / 2) auto;
  }
}

input[type="text"],
input[type="password"] {
  border: 5px solid var(--base-color);
  padding: 1rem;
  border-radius: 2px;
  transition: border-color var(--base-transition-timing);

  &:focus {
    border-color: var(--base-focus-color);
    outline: none;
  }
}

input[type="submit"] {
  padding: 1rem;
  border: none;
  background-color: var(--base-color);
  color: #fff;
  transition: background-color var(--base-transition-timing);
  font-weight: 700;
  border-radius: 2px;

  &:hover {
    background: var(--base-focus-color);
    cursor: pointer;
  }
}

.panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.panel__item {
  padding: 20px;
}

input[type="checkbox"].button {
  display: none;

  & + label {
    display: inline-block;
    padding: 1rem 2rem;
    color: #fff;
    background-color: var(--base-color);
    transition: background-color var(--base-transition-timing);
    border-radius: 2px;

    &:hover {
      background-color: var(--base-focus-color);
    }
  }

  &:checked + label {
    background-color: var(--base-active-color);
  }
}

.simple-select {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.25rem;
    right: 0.75rem;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-top-color: var(--base-color);
  }
  & > select {
    color: var(--base-color);
    display: inline-block;
    position: relative;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 2.25rem 1rem 1rem;
    border: 2px solid;
    border-radius: 2px;
    background: transparent;
  }
  & > select:disabled {
    background-color: rgba(1, 1, 1, 0.1);
  }
}
